img.ilc_page_rnavimage_RightNavigationImage {
	background-image: url(right-arrow.svg);
	background-size: 100% 100%;
	width: 36px;
	height: 36px;	
	margin: 2px;
	margin-left: 10px;
}

img.ilc_page_lnavimage_LeftNavigationImage {
	background-image: url(left-arrow.svg);
	background-size: 100% 100%;
	width: 36px;
	height: 36px;	
	margin: 2px;
	margin-right: 10px;
}

a.ilc_page_lnavlink_LeftNavigationLink,
a.ilc_page_rnavlink_RightNavigationLink {
	font-size: 14px;
}

h1.ilc_page_title_PageTitle,
div.ilc_text_block_PageTitle,
body.ilc_text_block_PageTitle {
	font-size: 180%;
}

.c21149,
.c861 {
	font-weight: 400 !important;
	font-size: 1.7em !important;
}
